:root {
    --primary-flan-color: #7076cf;
    --secondary-flan-color: #CFBB70;
    --base-flan-color: #71738F;
}

body {
    background-color: var(--base-flan-color);
}

.footer {
    background-color: #3C3D4F;
}

.header-color {
    background-color: var(--secondary-flan-color);
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

.campo input {
    width: 100%;
    border: 0px;
    padding-left: 10px;
    border-radius: 5px;
}

.campo input:focus {
    outline-width: 1px;
    outline-color: var(--primary-flan-color);
}

.campo textarea {
    width: 100%;
    border: 0px;
    padding-left: 5px;
    border-radius: 5px;
}

.campo textarea:focus {
    outline-width: 1px;
    outline-color: var(--primary-flan-color);
}

.formated-text {
    white-space: pre-wrap;
    text-align: start;
    counter-reset: line;
}

.ellipsed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* Estructura bootstrap */
.btn-flans {
    color: white;
    font-weight: bold;
    background-color: var(--primary-flan-color);
}

.primary-flan-color {
    color: var(--primary-flan-color);
}

.primary-bg-flan-color {
    background-color: var(--secondary-flan-color);
}

.border-flan {
    border-style: solid;
    border-width: 5px;
    border-color: var(--secondary-flan-color);
}

.custom-nav-width {
    width: auto;
}

.custom-nav-item {
    margin-left: 0;
}

@media (min-width: 992px) {

    .custom-nav-width {
        width: 100%;
    }

    .custom-nav-item {
        margin-left: auto;
    }
}

/* Sobre escritura bootstrap */
.card-text {
    background-color: rgba(112, 118, 207, 0.4);
    border-radius: 5px;
    min-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}